<!-- <google-map [height]="'400px'" [width]="'100%'" [center]="center" [zoom]="zoom">
  <map-marker *ngFor="let site of sites"
              [position]="{ lat: site.lat, lng: site.lng }"
              [label]="site.name">
  </map-marker>
</google-map>
abcd map -->

<!-- Please note unpkg.com is unaffiliated with Google Maps Platform -->
<!-- <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library"></script> -->

<!-- Configure and load the Maps JS SDK with your API key -->
<!-- <gmpx-api-loader key="YOUR_API_KEY"></gmpx-api-loader>

<gmpx-split-layout>
  <gmpx-place-overview slot="fixed" place="ChIJ39Y-tdg1fYcRQcZcBb499do"></gmpx-place-overview>
  <gmp-map slot="main" center="43.880,-103.459" zoom="10" map-id="DEMO_MAP_ID">
    <gmp-advanced-marker position="43.880,-103.459"></gmp-advanced-marker>
  </gmp-map>
</gmpx-split-layout> -->

<!-- Working sample start-->

<!-- <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library"></script>

<gmpx-api-loader key="AIzaSyDD41-EYDMZh3VvmZ9jBowlvCj-8cFerbA" />

<gmp-map id="my-map" map-id="4f33f0e7f6ab915e" [center]="center" [zoom]="zoom">
<gmp-advanced-marker *ngFor="let site of sites" [position]="site?.location"
        [title]="site.name" content="<h1>content</h1>"/>
</gmp-map> -->

<!-- Working sample end-->


<!-- <gmpx-api-loader key="AIzaSyDD41-EYDMZh3VvmZ9jBowlvCj-8cFerbA" solution-channel="GMP_GCC_mapandmarker_v2" />
<gmp-map map-id="4f33f0e7f6ab915e" [center]="center" [zoom]="zoom">

     <map-marker *ngFor="let site of sites"
              [position]="{ lat: site.lat, lng: site.lng }"
              [label]="site.name">
  </map-marker> -->

    <!-- <gmp-advanced-marker *ngFor="let site of sites" [position]="site?.location"
        [title]="site.name" /> -->

   <!--  <gmp-advanced-marker *ngFor="let site of sites" [position]="{ lat: site.lat, lng: site.lng }" [title]="site.name">

    </gmp-advanced-marker> -->
<!-- </gmp-map> --> 

<!-- <gmpx-api-loader key="AIzaSyDD41-EYDMZh3VvmZ9jBowlvCj-8cFerbA" solution-channel="GMP_GCC_routeoverview_v2" />
<gmp-map map-id="4f33f0e7f6ab915e">
  <gmpx-route-overview origin-address="Chemnitz" destination-address="Berlin" />
</gmp-map> -->

<!-- <gmp-map slot="main" id="gmap" map-id="DEMO_MAP_ID" [zoom]="zoom" [center]="center">
    <gmp-advanced-marker *ngFor="let site of sites" [position]="site?.location"
        [title]="site.name"></gmp-advanced-marker>
</gmp-map> -->

<!-- <script>
window.addEventListener('load', () => {
  debugger
    const mapElement = document.getElementById('my-map');
  const markers = document.querySelectorAll('gmp-advanced-marker.pannable');
  console.log('Markers:', markers);
  console.log('Map Element:', mapElement);
  markers.forEach((marker) => {
    marker.addEventListener('gmp-click', () => {
      mapElement.innerMap.panTo(marker.position);
    });
  });
});
</script>
 -->
<!-- <gmp-map
      center="37.4220656,-122.0840897"
      zoom="10"
      map-id="4f33f0e7f6ab915e234"
      style="height: 400px"
></gmp-map> -->

<div id="map" class="w-full h-[500px] rounded-lg shadow-md"></div>
<!-- <div id="map" class="relative w-full rounded h-600-px"></div> -->