<div class="p-6 max-w-4xl mx-auto bg-white shadow rounded">


    <h2 class="text-2xl font-bold mb-4">{{ site?.properties?.['name'] || 'Unnamed Site' }}</h2>


    <div *ngIf="site" class="flex items-center justify-between mb-4">
        <button (click)="goBack()" class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded shadow text-sm">
            ← Back
        </button>
    </div>

    <div class="mb-4 text-gray-700">
        <p><strong>Category:</strong> {{ site?.category }}</p>
        <p><strong>Type:</strong> {{ site?.type }}</p>
        <p class="mt-2 text-xs text-gray-500">
            <strong>Coordinates:</strong> {{ site?.geometry?.coordinates?.[1] }}, {{ site?.geometry?.coordinates?.[0] }}
        </p>
    </div>

    <div *ngIf="site" class="mt-4">
        <app-full-map [site]="site"></app-full-map>
    </div>
</div>